<template>
    <footer>
        <p id="copyright">Team AO</p>
        <div id="school">ROC Mondriaan</div>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
    #school {
        float: right;
        font-size: 30px;
    }

    #copyright {
        float: left;
        font-size: 30px;
    }
</style>